@model AppNguoiDung
@{
    ViewData["Title"] = "Quên mật khẩu";

}

<div class="container">
    <div class="content-bottom ">
        <div class="row g-0">
            <div class="col-sm-6 col-md-6">
                <div class="inner">
                    <h2>Quên mật khẩu</h2>
                    <div class="thongbao">
                        <p>
                            <b>Đăng ký tài khoản</b>
                        </p>
                        <p>
                            Bằng cách tạo một tài khoản bạn sẽ có thể mua sắm nhanh hơn, được
                            cập nhật về tình trạng một đơn đặt hàng, và theo dõi các đơn đặt
                            hàng bạn đã thực hiện trước đó.
                        </p>
                        <a asp-action="Sigister" class="button">Đăng ký</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 ">
          
                <div class="dangnhap">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form action="SendEmailForgetPass" method="post">
                        <h4>Quên mật khẩu</h4>
                        <div class="from-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" placeholder="Tài khoản" class="form-control" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>   
                        <button class="btn btn-default">Gui</button>             
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

