@model LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";

}

<div class="container">
    <div class="content-bottom ">
        <div class="row g-0">
            <div class="col-sm-6 col-md-6">
                <div class="inner">
                    <h2>Khách hàng mới</h2>
                    <div class="thongbao">
                        <p>
                            <b>Đăng ký tài khoản</b>
                        </p>
                        <p>
                            Bằng cách tạo một tài khoản bạn sẽ có thể mua sắm nhanh hơn, được
                            cập nhật về tình trạng một đơn đặt hàng, và theo dõi các đơn đặt
                            hàng bạn đã thực hiện trước đó.
                        </p>
                        <a asp-action="Sigister" class="button">Đăng ký</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 ">
            
                <div class="dangnhap">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form action="Login" method="post">
                        <h4>Đăng nhập</h4>
                        <div class="from-group">
                            <label asp-for="TaiKhoan"></label>
                            <input asp-for="TaiKhoan" placeholder="Tài khoản" class="form-control" />
                            <span class="text-danger" asp-validation-for="TaiKhoan"></span>
                        </div>
                        <div class="from-group">
                            <label asp-for="MatKhau"></label>
                            <input asp-for="MatKhau" placeholder="Mật khẩu" class="form-control" type="password" />
                            <span class="text-danger" asp-validation-for="MatKhau"></span>
                        </div>
                        <button class="btn btn-default">Đăng nhập</button>
                        <p><a href="" class="quenmk">Quên mật khẩu?</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

