@model AppNguoiDung
@{
    ViewData["Title"] = "Lấy lại mật khẩu";

}

<div class="container">
    <div class="content-bottom ">
        <div class="row g-0">
            <div class="col-sm-6 col-md-6">
                <div class="inner">
                    <h2>Lấy lại mật khẩu</h2>
                    <div class="thongbao">
                        <p>
                            <b>Đăng ký tài khoản</b>
                        </p>
                        <p>
                            Bằng cách tạo một tài khoản bạn sẽ có thể mua sắm nhanh hơn, được
                            cập nhật về tình trạng một đơn đặt hàng, và theo dõi các đơn đặt
                            hàng bạn đã thực hiện trước đó.
                        </p>
                        <a asp-action="Sigister" class="button">Đăng ký</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 ">

                <div class="dangnhap">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form action="UpdateNewPass" method="post">
                        <input type="hidden" name="token" value="@ViewBag.Token" />
                        <h4>Lấy lại mật khẩu</h4>
                        <div class="from-group">
                            <label asp-for="Email"></label>
                            <input readonly asp-for="Email" value="@ViewBag.Email" class="form-control" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="from-group">
                            <label>Mật khẩu</label>
                            <input asp-for="PasswordHash" placeholder="Mật khẩu" class="form-control" type="password" />
                            <span class="text-danger" asp-validation-for="PasswordHash"></span>
                        </div>
                        <button class="btn btn-default">Gui</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

