
<div class="left-sidebar">
    <h2>Danh mục</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        @*         Xuất component ->yêu cầu có taghelper *@
        <vc:danh-mucs></vc:danh-mucs>
    </div><!--/category-products-->
</div>