@model SanPhams

@{
    ViewData["title"] = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thêm sản phẩm</h2>

<div class="container mt-2">
    <div class="col-lg-8 mx-auto">
        <div class="card shadow">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                    <h1 class="h4 text-primary">Thêm sản phẩm</h1>
                </div>

                <form asp-action="Create"  enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Mã sản phẩm -->
                 

                    <!-- Tên sản phẩm -->
                    <div class="form-group">
                        <label asp-for="TenSanPham"></label>
                        <input asp-for="TenSanPham" class="form-control" placeholder="Tên sản phẩm" />
                        <span asp-validation-for="TenSanPham" class="text-danger"></span>
                    </div>

                    <!-- Mã danh mục -->
                    <div class="form-group">
                        <select asp-for="MaDanhMuc" asp-items="ViewBag.dm" class="form-control">
                            <option value="">Chọn danh mục</option>
                        </select>
                        <span asp-validation-for="MaDanhMuc" class="text-danger"></span>
                    </div>


                    <!-- Giá -->
                    <div class="form-group">
                        <label asp-for="Gia"></label>
                        <input asp-for="Gia" class="form-control" placeholder="Giá" />
                        <span asp-validation-for="Gia" class="text-danger"></span>
                    </div>

                    <!-- Phần trăm giảm giá -->
                    <div class="form-group">
                        <label asp-for="Discount"></label>
                        <input asp-for="Discount" class="form-control" placeholder="Phần trăm giảm giá" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>

                    <!-- Kích thước -->
                    <div class="form-group">
                        <label asp-for="KichThuoc"></label>
                        <input asp-for="KichThuoc" class="form-control" placeholder="Kích thước" />
                    
                    </div>

                    <!-- Mô tả kích thước -->
                    <div class="form-group">
                        <label asp-for="MoTaKichThuoc"></label>
                        <textarea asp-for="MoTaKichThuoc" class="form-control" rows="2" placeholder="Mô tả kích thước"></textarea>
                       
                    </div>

                    <!-- Mô tả chất liệu -->
                    <div class="form-group">
                        <label asp-for="MoTaChatLieu"></label>
                        <textarea asp-for="MoTaChatLieu" class="form-control" rows="2" placeholder="Mô tả chất liệu"></textarea>
                       
                    </div>

                    <!-- Hình ảnh -->
                    <div class="form-group">
                        <label asp-for="HinhAnh"></label>
                        <input asp-for="imagesLoad" type="file" class="form-control-file" />
                        <span asp-validation-for="imagesLoad" class="text-danger"></span>
              
                    </div>

                    <!-- Danh sách hình ảnh -->
                    <div class="form-group">
                        <label asp-for="DanhSachHinhAnh"></label>
                        <input asp-for="DanhSachHinhAnh" type="file" multiple class="form-control-file" />
                        <span asp-validation-for="DanhSachHinhAnh" class="text-danger"></span>
                    </div>

                    <!-- Mô tả -->
                    <div class="form-group">
                        <label asp-for="Mota"></label>
                        <textarea asp-for="Mota" class="form-control" rows="3" placeholder="Mô tả"></textarea>
                        <span asp-validation-for="Mota" class="text-danger"></span>
                    </div>

                    <!-- Ngày thêm (chỉ hiển thị, không cho chỉnh sửa) -->
                

                    <!-- Ngày cập nhật (chỉ hiển thị, không cho chỉnh sửa) -->
                  

                    <!-- Trạng thái -->
                    <div class="form-group">
                        <label asp-for="TrangThai"></label>
                        <select asp-for="TrangThai" class="form-control">
                            <option value="true">Hiển thị</option>
                            <option value="false">Không hiển thị</option>
                        </select>
                        <span asp-validation-for="TrangThai" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-block">Thêm sản phẩm</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-secondary btn-block" asp-action="Index">Quay lại</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
    }
}
